#main{
    background-color: black;
    position: relative;
    width: 500px;
    height: 700px;
}

#visor{
    margin-top: 10px;
    left: 10px;
    position: absolute;
    background-color: white;
    height: 190px;
    width: 480px;
}

#tabuleiro{
    position: absolute;
    left: 10px;
    margin-top: 210px;
    background-color: white;
    width: 480px;
    height: 480px;
    align-items: flex-end;
}
button{
    margin: 10px;
    width: 215px;
    height: 215px;
}
#btn0{
    background-color: red;
}

#btn1{
    background-color: blue;
}

#btn2{
    background-color: yellow;
}

#btn3{
    background-color: green;
}